  .loader{
    position: fixed;

    background: rgba(0,0,0,1);
    width: 100vw;
    height: 100vh;
    z-index: 9;
    &.hidden{
      opacity: 0;
      animation: morph .8s ease-in-out forwards;
    }

    & > svg{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes morph{
    0% {
      opacity: 1;
      background: rgba(0,0,0,1);
    }
    99%{
      opacity: 0;
      background: rgba(0,0,0,0.0);
    }
    100%{
      z-index: -1;
    }
  }
